.nav-cover {
  background: var(--fot);
  justify-content: space-between;
  padding: 0 30px;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.n-content > img {
  width: 85px;
  height: 85px;
}
.n-content > h2{
  font-size: 30px;
  font-weight: 400;
  font-family: 'Gang of Three', sans-serif;
}
/* this for the tzt nav */
.n-gater {
  width: 100%;
  gap: 10px;
}
.n-gater > a {
  text-decoration: none;
  color: var(--sec);
  position: relative;
  padding: 5px 20px;
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
  font-weight: 800;
}
.n-gater > a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background:var(--txt);
  bottom: 30px;
  left: 0;
  z-index: -1;
}
.n-gater > a:hover {
  color:black;
}
.n-gater > a:hover::after{
  width: 100%;
  transition: all 0.3s;
  bottom:0;
}
.n-box3 {
  display: none;
}
@media screen and (max-width: 768px) and (min-width: 300px) {
  .nav-cover {
    padding:5px 10px;
  }
  .n-content > img {
    width: 50px;
    height: 50px;
  }
  .n-content > h2{
    font-size: 20px;
  }
  .n-gater {
    width: 100%;
    height: 40px;
    flex-direction: row; 
    position: fixed;
    background: var(--prime);
    opacity: 0;
    position: fixed;
    gap:5px;
    z-index:99;
    top:60px;
    left: 400px;
    gap: 15px;
  }
  .n-gater> a{
    font-size: 12px;
    padding: 5px;
  }
  .n-act {
    left: 0;
    opacity: 1;
    transition: all 0.5s;
  }
  .n-box3 {
    display: block;
  }
  .cover-bar {
    background: rgb(200, 30, 30);
    width: 35px;
    height: 35px;
    gap: 10px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: inset 0 0 10px rgba(254, 254, 254, 0.5);
    cursor: pointer;
  }
  .icon-n{
    font-size: 25px;
    font-weight: bolder;
    color: var(--sec);
  }
}
