:root{
 --mem:rgb(255, 255, 255,0.4)
}
.members-page {
  padding: 100px 0;
  gap: 20px;
  padding-bottom: 40px;
}
.mem-cover{
  width: 100%;
  height: 100dvh;
  background: url(../assets/bg.png) center no-repeat;
  background-size: cover;
}
.mem-s-box{
  height: 90%;
  transform: translateX(-50px);
}
.mem-cover > .min-pic{
  width: 10%;
  justify-self: flex-end;
}
.min-pic > .min-hold{
   height: 10%;
   align-self: end; 
}
.min-hold > img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
  &:hover{
    scale: 1.1;
    filter: drop-shadow(0 0 5px red);
    transition: all 0.3s;
  }
}
.mem-cover > .min-details{
  width: 80%;
  background:var(--mem);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.min-details > .d-style{
  width: 60px;
  height: 120px;
  position: absolute;
  top:50px;
  background: url(../assets/bg.png) center no-repeat;
   background-size: cover;
  border-radius: 0 20px 20px 0;
  z-index: 1;
  &::before{
    content: '';
    position: absolute;
    background: url(../assets/bg.png) center no-repeat;
      background-size: cover;
    height: 30px;
    width: 100%;
    rotate: 20deg;
    top:-8px;
    left:-10px;
    border-radius: 0 10px 0 0;
    z-index: -1;
  }
   &::after{
    content: '';
    position: absolute;
   background: url(../assets/bg.png) center no-repeat;
    background-size: cover;
    height: 30px;
    width: 100%;
    rotate: -20deg;
    bottom:-8px;
    left:-10px;
    border-radius: 0 0 10px 0;
    z-index: -1;
  }
}
.d-style > img{ 
  width: 90%;
  height: 80%;
  object-fit: cover;
}
/* details */
.d-cover > .d-box{
  height: 100dvh;
}
.call{
  animation:txt_zoom 1 2s forwards;
}
.call2{
   animation:txt_zoom2 1 2s forwards;
}
@keyframes txt_zoom {
  from{
    transform: translatey(1000px);
    opacity: 0.4;
  }
  to{
     transform: translatey(0px);
    opacity: 1;
  }
}
@keyframes txt_zoom2 {
   from{
    transform: translatex(-1000px);
    opacity: 0.4;
  }
  to{
    transform: translatex(0px);
    opacity: 1;
  }
}
.d-cover{
  width: 100%;
  height: 100%;
}
.d-cover > .d-txt{
  padding-left: 70px;
  width: 70%;
  align-items: flex-start;
}
.d-txt > p{
  font-size: 24px;
  letter-spacing: 0.4px;
  line-height: 30px;
  margin-bottom: 10px;
  &::before{
    content:"*";
    color: red;
  }
}
.d-txt > h1{
  font-family: var(--head);
  font-size: 35px;
  padding-bottom: 20px;
}
.d-cover > .d-pic{
  width: 30%;
}
.d-pic > img{
  width: 100%;
  height: 80%;
  object-fit: contain;
}

/* tab */

@media screen and (max-width:900px) and (min-width:700px) {
   .mem-cover{
    height: 90dvh;
   }
   .d-txt > p {
    font-size: 15px;
    line-height: 20px;
   }
   .d-txt > h1{
     font-size: 30px;
   }
}
@media screen and (max-width:700px) and (min-width:300px) {
    .mem-cover{
    height: 75dvh;
   }
   .d-txt > p {
    font-size: 8px;
    line-height: 10px;
    margin-bottom: 5px;
   }
   .d-txt > h1{
     font-size: 25px;
     padding-bottom: 10px;
   }
   .mem-s-box{
       transform: translateX(-10px);
   }
   .d-style
   {
    display: none;
   }
   .d-cover > .d-txt{
    padding-left: 18px;
   }
}